<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Broadway.ly!</title>
  <link rel="stylesheet" href="/reset.css"/>
  <link rel="stylesheet" href="/styles.css"/>
  <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = "wrapper">
    <div class = "transparent">
      <div class = "top-bar">
          <h2><a href="/">B!</a></h2>
          <a href="/shows">View All Shows</a>
      </div>
      <div class = "main-container">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>