<form action="/shows/:id/songs" method="POST">
  <input type="text" name="title" placeholder="Show Title"></input>
  <input type="text" name="embed_url" placeholder="Youtube URL"></input>
  <button>SUBMIT</button>
</form>