<form action="/shows" method="POST">
  <input type="text" name="title" placeholder="Show Title"></input>
  <input type="text" name="composer" placeholder="Composer Name"></input>
  <input type="text" name="img_url" placeholder="Poster Image URL"></input>
  <button>SUBMIT</button>
</form>